<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 启动Spring注解自动注入Bean -->
	<context:component-scan base-package="com.fred"/>

	<!-- 该 BeanPostProcessor 将自动对标注 @Autowired 的 Bean 进行注入 -->  
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

	<!--对@AspectJ注解的切面进行自动代理 -->	
	<aop:aspectj-autoproxy />
	
	<!--sessionFactory配置 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	
	
  	<!-- 配置基于注解的声明式事务管理器 -->
  	<bean id="transactionManager" 
  		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <!-- 使用spring解决延迟加载问题，与web.xml里面的OpenSessionInViewFilter作用完全一样，区别在于一个过滤器一个拦截器。-->
    <!--<bean id="openSessionInViewInterceptor"  
    	  class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">  
    		<property name="sessionFactory" ref="sessionFactory" />  
	</bean> -->
	
		
</beans>